node_modules
dist/
.plugin-store/
.nefantaris/
fixtures/*/tsconfig.json

# Test output
playwright-report/
blob-report/
test-results/
.lighthouseci/

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
